*{
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}

img {
  width: 400px;
}

input {
  border: 1px solid rgb(181, 176, 176);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  margin: 0.5rem;
  text-align: center;
  font-size: 17px;
}

span {
  font-weight: bold;
}

button {
  background-color: rgb(255,114,94);
  color: white;
  border: 0px;
  border-radius: 35px;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: bold;
  padding: 10px 25px;
}

button:hover {
  background-color: rgb(227, 80, 61);
}
